:root {
  --main-width:3792.7px;
  --main-height:1080px;
  --main-bg-1:#083B5D;
  --main-bg-2:#1077BC;
  --font-fg:#094D77;
}


@font-face{
  font-family:'Poppins';
  src:url(./assets/font/Poppins-Regular.ttf);
}


body {
  min-height:100vh; 
  overflow:hidden;
  font-family:'Poppins';
  font-size:12px;
}

.App {
  display:flex;
  flex-direction:column;
  width: calc(var(--main-width)*2.0);
  height:100vh; 
  text-align: center;
  background:radial-gradient(var(--main-bg-2), var(--main-bg-1)); 
}

main {
  flex:8;
  width: calc(var(--main-width)*2.0); 
}

#loading {
  display:flex;
  justify-content:center;
  align-items:center;
  margin-left:15%;
  text-transform:uppercase;
}

#loading p {
  font-size:36px;
  font-family:Poppins;
  color:white;
  text-align:center;
  animation:loading 1.0s infinite;
  animation-timing-function:ease-in-out;
}

@keyframes loading {
  0%{
    text-shadow:0px;
  }
  50% {
    text-shadow:4px 2px 0px var(--main-bg-2) ;
  }
  100%{
    text-shadow:0px;
  }
}

#timelineContainer{
  margin-left:0%;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  transform:translateY(-30px) scale(0.8)!important;
  transform-origin:center;

}

.layerBack {
  position:absolute;
  z-index:-1;
}

.layerFront {
  z-index:2;
}

#hitos {
  height:360px;
  position:absolute;
  width:var(--main-width);
  z-index:2;
}

#mouse {
  display:flex;
  flex-direction:column;
  position:fixed;
  height:10vh;
  left:50%;
  bottom:7vh;
  transform:translateX(-50%);
}

#mouse p {
  text-align:center;
  color:white;
  opacity:1.0;
  animation:hide 4s ease-in-out forwards;
  animation-delay:6s;
}

@keyframes hide {
  to {
    opacity:0.0;
  }
}

#mouse img {
  object-fit:scale-down;
}

#grid {
  /* top:45%; */
  /* position:fixed; */
  position:absolute;
  z-index:-1;
  /*width:200vw;*/
  width: calc(var(--main-width)*0.85);
  height:440px;
  /* margin-top:-48px; */
  margin-top:22vh;
  /* margin-top:120px; */
  margin-left:100px;
  background-size:50px 50px;
  background-position:0px -10px;
  background-image: repeating-linear-gradient(0deg, transparent, transparent 49px, #ccc 49px, #ccc 120px), 
                    repeating-linear-gradient(90deg, transparent, transparent 49px, #ccc 49px, #ccc 100px); 
  opacity:0.2;
}


audio {
  display:none;
  position:absolute;
  bottom:0;
  left:0;
}

#mute{
  position:absolute;
  bottom:10px;
  left:20px;
  background:none;
  border:none;
  color:white;
  font-size:2rem;
  width:60px;
}

.speaker {
 /* object-fit:contain;*/
  max-width:80%;
  max-height:80%;
  cursor:pointer;
  transition:filter 1s ease-in-out;
}

.speaker.muted {
  filter:blur(3px);
  transition:filter 1s ease-in-out;
}


@media screen and (max-width: 1024px) {
  #root {
    overflow:hidden;
  }

  #mouse {
    display:none;
  }

  #grid {
    margin-top:8vh;
  }

  .speaker {
    display:none;
  }
}

@media (max-height:480px) and (orientation: landscape) { 
   #timelineContainer {
    transform:translateY(24px) scale(0.5)!important;
   }

  .App {
    overflow:hidden;
  }

  .speaker {
    display:none;
  }



}


#para {
  overflow: hidden!important;
}