
:root {
  /* --main-width: calc(1920px*3); */
  --main-width:3792.7px;
  --main-height:1080px;
  --main-bg-1:#083B5D;
  --main-bg-2:#1077BC;
  --font-fg:#094D77;
}

@font-face{
  font-family:'Poppins';
  src:url(./assets/font/Poppins-Regular.ttf);
}

body {
  height:100vh; 
  overflow-y:hidden;
  font-family:'Poppins';
}

.App {
  text-align: center;
  background:radial-gradient(var(--main-bg-2), var(--main-bg-1));
  width: calc(var(--main-width)*1.1);
  height:100vh; 
}

header {
  position:fixed;
  display: flex;
  flex-direction: row;
  width:100vw;
  height:8%;
  min-height: 5%; 
  background-color: white;
  align-items: center;
  justify-content: space-between;
  font-size: calc(2px + 2vmin);
}

#title {
  color:var(--font-fg);
}

#logoMain{
  display:flex;
  flex-direction:row;
  margin-left:1%;
}

#logoRight {
  height: 5vh;
  padding-right:20px;
}


#timeline {
  width: var(--main-width); 
  height:1080px;
  /* margin:calc(-5vh) auto auto calc(-72vw); */ 
  margin-top: auto; 
  margin-left:-5%; 
}


#grid {
  width: calc(var(--main-width)*0.45); 
  height:calc(1080px/2);
  position:fixed;
  top: calc(var(--main-height)*0.25);/*25vh; */
  left:calc(var(--main-width)*0.0125); 
  background-size:100px 100px;
  background-position:0px -10px;
  background-image: repeating-linear-gradient(0deg, transparent, transparent 99px, #ccc 99px, #ccc 120px), 
                    repeating-linear-gradient(90deg, transparent, transparent 99px, #ccc 99px, #ccc 100px); 
  opacity:0.6;
  z-index:0;
}

.point {
  position:fixed;
  background-repeat: no-repeat;
  width:var(--main-width);
  padding-top:var(--main-height);
}
.bigPoint{
  background-image:url(assets/img/circle_back.png);
  background-size: contain;
}

.smallPoint{
  background-image:url(assets/img/bg_dot.png);
  background-size: scale;
}

#mouse {
  position:fixed;
  left:50%;
  bottom:3%;
}



